<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CloudFIRE Demo</title>

    <!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<style>
body {
  padding-top: 50px;
}
.demo-template {
  padding: 40px 15px;
}

#output {
	height: 500px;
	overflow-y: scroll;
}

#output pre {
	padding: 4px;
	margin: 0;
}
</style>



  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
<a href="https://github.com/coinkite/cloudfire"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
        <div class="navbar-header">
          <a class="navbar-brand" href="#">CloudFIRE Demo</a>
        </div>
      </div>
    </nav>

    <div class="container">
	  <div class="row">
		<div class="col-md-7">
			<h3>About</h3>

<img src="/static/cloudfire.svg" style="width: 25%" align="right">
<p>
This is a demo of a a new full-stack for delivering web apps, called <b>CloudFIRE</b>.


</p><p>
It uses NGINX as the web server, and extends it with lots of custom Lua code. The Lua code
runs inside the memory of the Nginx workers, and provides the following services:

<ul>
	<li> fake browser detection and blocking.
	<li> basic session cookies.
	<li> websocket fan-out / message passing
	<li> content cache from redis and/or disk
	<li> generalized virtual hosting: a single IP can host many domains
	<li> technologies applied: Nginx, Lua, Redis, OpenResty, Websockets, FastCGI, Python, Flask, FreeBSD.
</ul>

</p><p>
It can serve static content, dynamic content via FastCGI
for each virtual host, and also serve static/cached content from Redis.
</p><p>
<a class="btn btn-primary" href="http://github.com/coinkite/cloudfire">Read more...</a>
</p>



		</div>
		<div class="col-md-5">
		  <div class="demo-template">
			<h3>Chat Box</h3>

			<button class="btn btn-default" onclick="doSend('Hello!')">Say: Hello</button>
			<button class="btn btn-default" onclick="doSend('Bye.')">Say: Bye</button>
			<button class="btn btn-default" onclick="doSend('Testing 1, 2, 3...')">Say: Testing</button>

			<hr>
			<div id="output"></div>
		  </div>
		</div>
	</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

	<script language="javascript" type="text/javascript">
		{% include "websocket.js" with context %}
	</script>

  </body>
</html>



